#username-dropdown {
    display: inline;
}

#or-text {
    color: #ffffff;
}

.signup-form.dropdown-menu {
    padding: 15px;
}

#squid-header-user-header-dropdown-menu .hidden {
    visibility: hidden;
}

#squid-header-user-signup-dropdown-menu .hidden {
    visibility: hidden;
}

#squid-signup-form .hidden {
    visibility: hidden;
}