@(message: String)(implicit flash: Flash, lang: Lang, session: Session)

@main("Squid") {
<ul class="automobiles" id="automobiles">
</ul>
<!--<div class="post">-->
    <!--<div class="name-description">-->
        <!--<p class="title">Toyota Camry 2011</p>-->
        <!--<p class="description">I have for sale a real clean 1997 Nissan Pathfinder "LE" 4X4 with 228K miles. It has a clean car fax and it sailed through smog and safety needing only a fresh service. This is a lot of SUV for cheap money. For more info call 707-584-3600 ask for Rich owner of Magic Motors proudly serving three North Bay for over 25 years.#107041 trade and offers welcome. I also have a 2001 for sale with less miles for more money. I have for sale a real clean 1997 Nissan Pathfinder "LE" 4X4 with 228K miles. It has a clean car fax and it sailed through smog and safety needing only a fresh service. This is a lot of SUV for cheap money. For more info call 707-584-3600 ask for Rich owner of Magic Motors proudly serving three North Bay for over 25 years.#107041 trade and offers welcome. I also have a 2001 for sale with less miles for more money.</p>-->
    <!--</div>-->
    <!--<div class="gallery">-->
        <!--<ul>-->
            <!--<li><img src="http://localhost:9000/content/automobile/content1.jpg" alt=""/></li>-->
            <!--<li><img src="http://localhost:9000/content/automobile/content2.jpg" alt=""/></li>-->
            <!--<li><img src="http://localhost:9000/content/automobile/content3.jpg" alt=""/></li>-->
            <!--<li><img src="http://localhost:9000/content/automobile/content4.jpg" alt=""/></li>-->
            <!--<li><img src="http://localhost:9000/content/automobile/content5.jpg" alt=""/></li>-->
            <!--<li><img src="http://localhost:9000/content/automobile/content6.jpg" alt=""/></li>-->
            <!--<li><img src="http://localhost:9000/content/automobile/content7.jpg" alt=""/></li>-->
            <!--<li><img src="http://localhost:9000/content/automobile/content1.jpg" alt=""/></li>-->
            <!--<li><img src="http://localhost:9000/content/automobile/content2.jpg" alt=""/></li>-->
            <!--<li><img src="http://localhost:9000/content/automobile/content3.jpg" alt=""/></li>-->
            <!--<li><img src="http://localhost:9000/content/automobile/content4.jpg" alt=""/></li>-->
            <!--<li><img src="http://localhost:9000/content/automobile/content5.jpg" alt=""/></li>-->
            <!--<li><img src="http://localhost:9000/content/automobile/content6.jpg" alt=""/></li>-->
            <!--<li><img src="http://localhost:9000/content/automobile/content7.jpg" alt=""/></li>-->
        <!--</ul>-->
        <!--<img src="http://localhost:9000/content/automobile/content1.jpg" alt="" class="main-img"/>-->
    <!--</div>-->
<!--</div>-->
}