@(title: String = "squid")(content: Html)(implicit flash: Flash, lang: Lang, session: Session)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/header.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript">
            var userId = '@session.get("userId").getOrElse("")'
        </script>
        <script src="@routes.Assets.at("javascripts/ThirdParty/JQuery/jquery-1.9.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/ThirdParty/Bootstrap/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/App/Utils.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/App/Header.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/App/Body.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/App/login.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/App/App.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="header">
                @header()
            </div>
            <div class="main-content">
                @if(flash.get("error").isDefined){
                <div class="alert alert-warning">
                    @flash.get("error")
                </div>
                }
                <div class="row signup-form-container">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        @content
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </body>
</html>